.ms_bg-dark-aqua {
    background-color: #1abc9c;
}

.ms_hr-style {
    border-width: 3px;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    .ms_hr-style {
        border-width: 4px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }

    .ms_hr-style {
        border-width: 5px;
    }
}